<h2>Hi <%= session[:username]%>!</h2>


<ul>
  <li><a href="/projects/new">Create a new Project</a></li>
  <li><a href="/projects/projects">Your Projects</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>
