<form action="/projects/<%=@project.project_id%>/edit" method="POST">
  <h2> @projects.project_name </h2>
  Content: <input type="text" name="content" id="content" value="<%=@project.content%>"><br>
  <input type="submit" name="submit" id="submit" value="Edit Tweet">
</form>
