<%if Helpers.is_logged_in?(session)%>
  <h2>These are your projects, <%= session[:username]%></h2>
<%end%>

<% @user.projects.each do |p|%>
  <a href="/projects/:id/edit"> <%= p.project_name %><br> </a>
<%end%>

<ul>
  <li><a href="/users/index">Your Profile</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>
