<%if @user.projects.size == 0 %>
  <h2>You dont currently have any projects :(</h2><br>
  <a href="/projects/new"> Start a new project here
<%else%>
  <h2>These are your projects, <%= session[:username]%></h2>
  <% @user.projects.each do |p|%>
    <a href="/projects/<%=p.slug%>/show"> <%= p.project_name %> </a> <br>
  <%end%>
<%end%>


<ul>
  <li><a href="/users/index">Your Profile</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>
