<%if Helpers.is_logged_in?(session)%>
  <h2>These are your projects, <%= session[:username]%></h2>
<%end%>

<% @user.projects.each do |p|%>
  <a href="/projects/:project_id/edit"> <%= p.project_name %>
  <% session[:project_name] = p.project_name %>
  <% session[:project_id] = p.project_id %> <br> </a>
  <% #session %>c
<%end%>

<ul>
  <li><a href="/users/index">Your Profile</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>
