<form action="/projects/:project_id/edit" method="POST">
  Project name: <%= session[:project_name] %><br>
  <%user_id = session[:id]%>
  Description: <%= @project.description%><br>

  Content: <input type="text" name="content" id="content"><br>
  <input type="submit" name="edit" id="edit" value="edit project"><br>
</form>

<form action="/projects/:project_id/delete" method="POST">
  <input type="submit" name="delete" id="delete" value="delete project">
</form>
