<form action="/projects" method="POST">
  Name Of Project: <input type="text" name="name" id="name"><br>
  Description: <input type="text" name="description" id="description"><br>
  <input type="submit" name="submit" id="submit">
</form>
